{% load static %}
<!-- ========================= FOOTER ========================= -->
	{% comment %} <footer class="d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-2 border-top bg-dark" style="box-shadow: 0 2px 10px 2px rgba(0,0,0,.5);">
		<div class="col-md-4 d-flex align-items-center">
			<span class="text-muted">&copy; All Right Reserved by <a href="/"
					class="text-danger text-decoration-none ">E-Store</a> | made by <a href="/" class="text-decoration-none text-danger">Team 16</a></span>
		</div>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-danger">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-danger">About</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-danger">Contact</a></li>
		</ul>
	</footer> {% endcomment %}
<!-- ========================= FOOTER END // ========================= -->
<footer class="footer-one">
	<div class="inner-footer">
		<div class="container">
			<div class="footer-top col-lg-12 col-xs-12">
				<div class="row">
					<div class="tiva-html col-lg-4 col-md-12 col-xs-12">
						<div class="block">
							<div class="block-content">
								<p class="logo-footer">
									<img src="{% static 'images/mylogo.png' %}" alt="img">
								</p>
								<p class="content-logo">This Ecommerce Website is built and developed by TEAM-16 as a mini project for SEM VI.
									Using Django, SQLite for backend and HTML, CSS, JS, Bootstrap for frontend part. Wish us Luck! 
								</p>
							</div>
						</div>
						<div class="block">
							<div class="block-content">
								<ul>
									<li>
										<a href="#">About Us</a>
									</li>
									<li>
										<a href="#">Reasons to shop</a>
									</li>
									<li>
										<a href="#">What our customers say</a>
									</li>
									<li>
										<a href="#">Meet the teaml</a>
									</li>
									<li>
										<a href="#">Contact our buyers</a>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
					<div class="tiva-html col-lg-4 col-md-6">
						<div class="block m-top">
							<div class="title-block">
								Contact Us
							</div>
							<div class="block-content">
								<div class="contact-us">
									<div class="title-content">
										<i class="fa fa-home" aria-hidden="true"></i>
										<span>Address :</span>
									</div>
									<div class="content-contact address-contact">
										<p>Plot No. 2 & 3, Sector - 16, Near Thana Naka, Khandagao, New Panvel, Navi Mumbai</p>
									</div>
								</div>
								<div class="contact-us">
									<div class="title-content">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<span>Email :</span>
									</div>
									<div class="content-contact mail-contact">
										<p>team16@estore.com</p>
									</div>
								</div>
								<div class="contact-us">
									<div class="title-content">
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span>Support Contact :</span>
									</div>
									<div class="content-contact phone-contact">
										<p>+0012-345-67890</p>
									</div>
								</div>
								<div class="contact-us">
									<div class="title-content">
										<i class="fa fa-clock-o" aria-hidden="true"></i>
										<span>Opening Hours :</span>
									</div>
									<div class="content-contact hours-contact">
										<p>Monday - Sunday / 08.00AM - 19.00</p>
										<span>(Except Holidays)</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tiva-modules col-lg-4 col-md-6">
						<div class="block m-top">
							<div class="block-content">
								<div class="title-block">Newsletter</div>
								<div class="sub-title">Sign up to our newsletter to get the latest articles, lookbooks voucher codes direct
									to your inbox
								</div>
								<div class="block-newsletter">
									<form action="#" method="post">
										<div class="input-group">
											<input type="text" class="form-control" name="email" value="" placeholder="Enter Your Email">
											<span class="input-group-btn">
												<button class="effect-btn btn btn-secondary " name="submitNewsletter" type="submit">
													<span>subscribe</span>
												</button>
											</span>
										</div>
										<input type="hidden" name="action" value="0">
									</form>
								</div>
							</div>
						</div>
						<div class="block m-top1">
							<div class="block-content">
								<div class="social-content">
									<div class="title-block">
										Follow us on
									</div>
									<div id="social-block">
										<div class="social">
											<ul class="list-inline mb-0 justify-content-end">
												<li class="list-inline-item mb-0">
													<a href="#" target="_blank">
														<i class="fa fa-facebook"></i>
													</a>
												</li>
												<li class="list-inline-item mb-0">
													<a href="#" target="_blank">
														<i class="fa fa-twitter"></i>
													</a>
												</li>
												<li class="list-inline-item mb-0">
													<a href="#" target="_blank">
														<i class="fa fa-google"></i>
													</a>
												</li>
												<li class="list-inline-item mb-0">
													<a href="#" target="_blank">
														<i class="fa fa-instagram"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="block m-top1">
							<div class="block-content">
								<div class="payment-content">
									<div class="title-block">
										Payment accept
									</div>
									<div class="payment-image">
										<img class="img-fluid" src="{% static 'images/icons/razorpay.png' %}" alt="img">
									</div>
								</div>
								<!-- Popup newsletter -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="tiva-copyright">
		<div class="container">
			<div class="row">
				<div class="text-center col-lg-12 ">
					<span>
						<a>Team 16 : E-Store</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
