{% extends 'base.html' %}
{% load static %}
{% block content%}

<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	{% comment %} <a href="./store.html" class="btn btn-outline-primary float-right">See all</a> {% endcomment %}
	<h3 class="section-title">Popular products</h3>
</header>

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">Rs.{{ product.price }}/-</div>
			</figcaption>
		</div>
	</div> 
	{% endfor %}
</div> 

</div>
</section>





{% endblock %}